body {
    /* background-color: crimson; */
    font-family: "Earth's Mightiest";
    font-size: 200%;
    background-image: url("vintage-comic-book-wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   
}

input {
    font-family: "Earth's Mightiest"; 
    font-size: 80%;
}

#questions-form {
    text-align: center;
    border-color: black;
    border: 100px;
    background-color: rgba(254, 254, 254, 0.414);
    padding-top: 10px;
    padding-bottom: 5px;
    /* line-height: 110%; */
    /* box-shadow: peru; */
}

/* header {
    position: relative;
    width: 50%;
    size: 10px;
} */

img {
    height: 200px;
    width: 600px;
    /* width is 3xs as big as height */ 
    margin-left: auto;
    margin-right: auto; 
    display: block;
    opacity: 0.75;
}

header {
    align-content: center;
}

button {
    background-color: orange;
    font-family: "Earth's Mightiest";
    font-size: 200%;
    color: rgb(96, 126, 244);
    width: 33%;
    
    
}

button:hover {
    background-color: purple;
}

#games-container {
    text-align: center;
}

