body {
    /* background-color: crimson; */
    font-family: "Earth's Mightiest";
    font-size: 200%;
    background-image: url("vintage-comic-book-wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0;
    display: block;
}

input {
    font-family: "Earth's Mightiest"; 
    font-size: 80%;
}

#questions-form {
    text-align: center;
    border-color: black;
    border: 100px;
    background-color: rgba(254, 254, 254, 0.414);
    padding-top: 10px;
    padding-bottom: 5px;

}

img {
    height: 200px;
    width: 600px;
    /* width is 3xs as big as height */ 
    padding: 0px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
    opacity: 0.75;
}

header {
    align-content: center;
    padding: 0px;
}

button {
    background-color: rgb(0, 0, 0);
    font-family: "Earth's Mightiest";
    font-size: 200%;
    color: rgb(240, 240, 240);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border-radius: 100%; */
}

button:hover {
    background-color: rgb(186, 30, 35);
}

#start {
    background-color: rgb(0, 0, 0);
    font-family: "Earth's Mightiest";
    font-size: 200%;
    color: rgb(240, 240, 240);
    width: 33%;
}

button#new-q-btn {
    background-color: rgb(186, 30, 35);
    font-family: "Earth's Mightiest";
    font-size: 35px;
    color: rgb(240, 240, 240);
    width: 20%;
    display: block;
    border-radius: 50%;
    padding: 1%;
}

#games-container {
    text-align: center;
}

#startGame {
    text-align: center;
    size: 100px;
}

#game-questions {
    text-align: center;
    border-color: black;
    border: 0px;
    background-color: rgba(254, 254, 254, 0.414);
    padding-top: 0px;
}

button.answer {
    font-size: 75%;
    width: 8.3%;
    margin-bottom: 10px;
}

button.play-again-btn {
    padding: 10px;
}

p {
    /* display: block;  */
    /* padding-left: 50px; */
}



